{% extends "base.html" %}

{% block title %}Добро пожаловать на узел связи{% endblock %}

{% block css %}
    {% load staticfiles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="container">
    <form class="form-signin" role="form" action="/" method="get">
        <h2 class="form-signin-heading">Войти</h2>
        <input id="phoneNum" type="number" class="form-control" placeholder="Номер телефона" required autofocus>
        <input type="password" class="form-control" placeholder="Пароль" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me">Запомнить меня
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
    </div>
{% endblock %}